<h1><%= @movie.title %></h1>
<h3>Bewertung</h3>
<p><%= @movie.rating %></p>
<h3>Preis</h3>
<p><%= format_total_gross(@movie) %></p>
<p><%= @movie.description %></p>
<h3>Wann</h3>
<p><%= @movie.realised_on %></p>

